/* Browse Happy prompt
-------------------------------------------------- */
.browsehappy {
  margin:-0.5rem -1rem 0rem;
  background: #ccc;
  color: #000;
  padding: 0.2rem 0;
}


/* NavBar
-------------------------------------------------- */
.orange-icon img {
  height: 27px;
}

