<div class="card text-center">
  <div class="card-header">
    Active Users
  </div>
  <div class="card-block">
    <h4 class="card-title">Connected Users</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let user of activeUsers | slice:0:9" class="list-group-item justify-content-between" [class.active]="user == selectedUser" (click)="onSelect(user)" >
      {{user.name}} &nbsp;<i (click)="onDelete(user)" class="fa fa-trash-o fa-fw"></i>
    </li>
  </ul>
</div>
