/* YOUR CUSTOM STYLES */

html,
body,
.view {
  height: 100%;
}


.view {
  background: url("https://mdbootstrap.com/images/regular/city/img%20(17).jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flex-center {
  color: #fff;
}

#contact .fa {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.navbar {
  background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  padding-top: 12px;
  padding-bottom: 12px;
}

.top-nav-collapse {
  background-color: #1C2331;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
}
