<header app-header></header>
<br/><br/>
<div class="container-fluid">

  <div class="card-columns">

    <app-active-users [activeUsers]="activeUsers$ | async" (_select)="setCurrentUser($event)" (_delete)="deleteUser($event)"></app-active-users>

    <div class="card text-center">
      <div class="card-header">
        User : {{currentUser?.name}}
      </div>
      <div class="card-block">
        <h4 class="card-title">HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-smoothie-chart
        width="600"
        height="100"
        [incomingData]="random1"></app-smoothie-chart>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : {{currentUser?.name}}
      </div>
      <div class="card-block">
        <h4 class="card-title">HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-smoothie-chart
        width="600"
        height="100"
        [incomingData]="random2"></app-smoothie-chart>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : {{currentUser?.name}}
      </div>
      <div class="card-block">
        <h4 class="card-title">HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-smoothie-chart
        width="600"
        height="100"
        [incomingData]="random3"></app-smoothie-chart>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : {{currentUser?.name}}
      </div>
      <div class="card-block">
        <h4 class="card-title">HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-smoothie-chart
        width="600"
        height="100"
        [incomingData]="random4"></app-smoothie-chart>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : {{currentUser?.name}}
      </div>
      <div class="card-block">
        <h4 class="card-title">By Region</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-charts [user]="currentUser"></app-charts>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : {{currentUser?.name}}
      </div>
      <div class="card-block">
        <h4 class="card-title">Yearly</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-pie-grid [user]="currentUser"></app-pie-grid>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : {{currentUser?.name}}
      </div>
      <div class="card-block">
        <h4 class="card-title">Total by Region</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-tree-map [user]="currentUser"></app-tree-map>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : {{currentUser?.name}}
      </div>
      <div class="card-block">
        <h4 class="card-title">Steps</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-number-card [user]="currentUser"></app-number-card>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : {{currentUser?.name}}
      </div>
      <div class="card-block">
        <h4 class="card-title">Floors</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-gauge [user]="currentUser"></app-gauge>
    </div>



  </div>

</div>

<footer app-footer></footer>
