<header app-header></header>
<br/><br/>
<div class="container-fluid">

  <div class="card-columns">

    <app-active-users></app-active-users>

    <div class="card text-center">
      <div class="card-header">
        User : Superman
      </div>
      <div class="card-block">
        <h4 class="card-title">Superman HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-smoothie-chart
        width="600"
        height="100"
        [incomingData]="random1"></app-smoothie-chart>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : Batman
      </div>
      <div class="card-block">
        <h4 class="card-title">Batman HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-smoothie-chart
        width="600"
        height="100"
        [incomingData]="random2"></app-smoothie-chart>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : Robin
      </div>
      <div class="card-block">
        <h4 class="card-title">Robin HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-smoothie-chart
        width="600"
        height="100"
        [incomingData]="random3"></app-smoothie-chart>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : BatGirl
      </div>
      <div class="card-block">
        <h4 class="card-title">BatGirl HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-smoothie-chart
        width="600"
        height="100"
        [incomingData]="random4"></app-smoothie-chart>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : BatGirl
      </div>
      <div class="card-block">
        <h4 class="card-title">BatGirl HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-charts></app-charts>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : BatGirl
      </div>
      <div class="card-block">
        <h4 class="card-title">BatGirl HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-pie-grid></app-pie-grid>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : BatGirl
      </div>
      <div class="card-block">
        <h4 class="card-title">BatGirl HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-tree-map></app-tree-map>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : BatGirl
      </div>
      <div class="card-block">
        <h4 class="card-title">BatGirl HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-number-card></app-number-card>
    </div>

    <div class="card text-center">
      <div class="card-header">
        User : BatGirl
      </div>
      <div class="card-block">
        <h4 class="card-title">BatGirl HR</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <app-gauge></app-gauge>
    </div>



  </div>

</div>

<footer app-footer></footer>
