<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 col-sm-3 column">
        <h4>Information</h4>
        <ul class="list-unstyled">
          <li><a pageScroll href="#one">Products</a></li>
          <li><a pageScroll href="#one">Services</a></li>
          <li><a pageScroll href="#one">Benefits</a></li>
          <li><a pageScroll href="#one">Developers</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-3 column">
        <h4>About</h4>
        <ul class="list-unstyled">
          <li><a pageScroll href="#one">Contact Us</a></li>
          <li><a pageScroll href="#one">Delivery Information</a></li>
          <li><a pageScroll href="#one">Privacy Policy</a></li>
          <li><a pageScroll href="#one">Terms &amp; Conditions</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-3 column">
        <h4>Stay Posted</h4>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
          </div>
        </form>
      </div>
      <div class="col-12 col-sm-3 text-right">
        <h4>Follow</h4>
        <ul class="list-inline">
          <li class="list-inline-item"><a rel="nofollow" href="" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
          <li class="list-inline-item"><a rel="nofollow" href="" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a>&nbsp;</li>
          <li class="list-inline-item"><a rel="nofollow" href="" title="Dribble"><i class="icon-lg ion-social-dribbble-outline"></i></a></li>
        </ul>
      </div>
    </div>
    <br/>
    <span class="float-right text-muted small"><a href="https://twitter.com/xmlking">Made by Sumo</a> ©2015-2017 Company</span>
  </div>
</footer>
