@keyframes pulse-slow {
  0%{transform:scale(1)}
  50%{transform:scale(1.4)}
  100%{transform:scale(1)}
}
/** animate-heartbeat **/
@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  10% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
    transform: scaleX(1) scaleY(1);
  }
  30% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    transform: scaleX(1) scaleY(1);
  }
  70% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    transform: scaleX(1) scaleY(1);
  }
  90% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
.animate-heartbeat {
  animation: pulse-slow 2s infinite;
}
.fa-stack-text {
  font-size: 2rem ;
}
