<ngb-carousel interval="5000" keyboard="true" wrap="true" >
  <template ngbSlide>
    <img src="http://lorempixel.com/1900/500?r=1" alt="Random first slide">
    <div class="carousel-caption d-none d-md-block text-left">
      <div class="container">
        <h1>First slide label</h1>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a class="btn btn-lg btn-primary" (click)="openSignup()">Sign up today</a></p>
      </div>
    </div>
  </template>
  <template ngbSlide>
    <img src="http://lorempixel.com/1900/500?r=2" alt="Random second slide">
    <div class="carousel-caption d-none d-md-block">
      <div class="container">
        <h1>Second slide label</h1>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a class="btn btn-lg btn-primary" (click)="openSignup()">Learn more</a></p>
      </div>
    </div>
  </template>
  <template ngbSlide>
    <img src="http://lorempixel.com/1900/500?r=3" alt="Random third slide">
    <div class="carousel-caption d-none d-md-block text-right">
      <div class="container">
        <h1>Third slide label</h1>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a class="btn btn-lg btn-primary" (click)="openLogin()">Browse gallery</a></p>
      </div>
    </div>
  </template>
</ngb-carousel>
